Repository jghalaei/taskList: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/tasklist-task-api.yml, azure-pipelines.yml

Pipelines/tasklist-task-api.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool: Default
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool: Default
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

arrange pipelines
  Pipelines/tasklist-task-api.yml
  azure-pipelines-1.yml
  azure-pipelines-task-gateway.yml
  azure-pipelines.yml
Due: none

adding pipelines
  Pipelines/task.api.yml
  Pipelines/task.gateway.yml
Due: none

Recreate tasklist-app and dockerfile
  src/ApiGateWays/OcelotApiGw/appsettings.json
  src/Client/tasklist-app/.dockerignore
  src/Client/tasklist-app/.env
  src/Client/tasklist-app/Dockerfile
  src/Client/tasklist-app/nginx.conf
  src/Client/tasklist-app/package-lock.json
  src/Client/tasklist-app/src/App.css
  src/Client/tasklist-app/src/App.test.js
  src/Client/tasklist-app/src/index.js
Due: azure-pipelines.yml

Add allowedcors to settings and deployment
  src/ApiGateWays/OcelotApiGw/Program.cs
  src/ApiGateWays/OcelotApiGw/appsettings.json
  src/ApiGateWays/OcelotApiGw/bin/Debug/net6.0/OcelotApiGw.dll
  src/ApiGateWays/OcelotApiGw/bin/Debug/net6.0/OcelotApiGw.exe
  src/ApiGateWays/OcelotApiGw/bin/Debug/net6.0/OcelotApiGw.pdb
  src/ApiGateWays/OcelotApiGw/bin/Debug/net6.0/appsettings.json
  src/ApiGateWays/OcelotApiGw/k8s/deployment.yaml
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/OcelotApiGw.AssemblyInfo.cs
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/OcelotApiGw.AssemblyInfoInputs.cache
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/OcelotApiGw.GeneratedMSBuildEditorConfig.editorconfig
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/OcelotApiGw.assets.cache
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/OcelotApiGw.dll
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/OcelotApiGw.genruntimeconfig.cache
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/OcelotApiGw.pdb
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/OcelotApiGw.sourcelink.json
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/apphost.exe
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/ref/OcelotApiGw.dll
  src/ApiGateWays/OcelotApiGw/obj/Debug/net6.0/refint/OcelotApiGw.dll
  src/ApiGateWays/OcelotApiGw/obj/OcelotApiGw.csproj.nuget.dgspec.json
  src/ApiGateWays/OcelotApiGw/obj/project.nuget.cache
  src/k8s/configmap.yaml
Due: azure-pipelines.yml

Set up CI with Azure Pipelines
  Pipelines/task-gateway.yml
Due: none

Update files
  .gitignore
  src/ApiGateWays/OcelotApiGw/CorrelationIdDelgateHandler.cs
  src/ApiGateWays/OcelotApiGw/Dockerfile
  src/ApiGateWays/OcelotApiGw/OcelotApiGw.csproj
  src/ApiGateWays/OcelotApiGw/Program.cs
  src/ApiGateWays/OcelotApiGw/appsettings.json
  src/Client/tasklist-app/k8s/deployment.yaml
  src/Client/tasklist-app/k8s/service.yaml
  src/Generic/GenericTools/GenericTools.csproj
  src/Generic/GenericTools/Logger/SerilogExtention.cs
  src/Generic/GenericTools/bin/Debug/net6.0/GenericContracts.dll
  src/Generic/GenericTools/bin/Debug/net6.0/GenericContracts.pdb
  src/Generic/GenericTools/bin/Debug/net6.0/GenericTools.deps.json
  src/Generic/GenericTools/bin/Debug/net6.0/GenericTools.dll
  src/Generic/GenericTools/bin/Debug/net6.0/GenericTools.pdb
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.assets.cache
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.csproj.AssemblyReference.cache
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.csproj.CoreCompileInputs.cache
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.dll
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.pdb
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.sourcelink.json
  src/Generic/GenericTools/obj/Debug/net6.0/ref/GenericTools.dll
  src/Generic/GenericTools/obj/Debug/net6.0/refint/GenericTools.dll
  src/Generic/GenericTools/obj/GenericTools.csproj.nuget.dgspec.json
  src/Generic/GenericTools/obj/GenericTools.csproj.nuget.g.targets
  src/Generic/GenericTools/obj/project.assets.json
  src/Generic/GenericTools/obj/project.nuget.cache
  src/Services/Tasks/Task.Api/Dockerfile
  src/Services/Tasks/Task.Api/Program.cs
  src/Services/Tasks/Task.Api/Task.Api.csproj
  src/Services/Tasks/Task.Api/appsettings.json
  src/Services/Users/User.API/Dockerfile
  src/Services/Users/User.API/Program.cs
  src/Services/Users/User.API/User.API.csproj
  src/Services/Users/User.API/appsettings.json
  src/docker-Compose.override.yml
  src/docker-Compose.yml
Due: Pipelines/tasklist-task-api.yml, azure-pipelines.yml

Remove the rest of executable files
  src/Generic/GenericTools/bin/Debug/net6.0/GenericContracts.dll
  src/Generic/GenericTools/bin/Debug/net6.0/GenericContracts.pdb
  src/Generic/GenericTools/bin/Debug/net6.0/GenericTools.deps.json
  src/Generic/GenericTools/bin/Debug/net6.0/GenericTools.dll
  src/Generic/GenericTools/bin/Debug/net6.0/GenericTools.pdb
  src/Generic/GenericTools/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.AssemblyInfo.cs
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.AssemblyInfoInputs.cache
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.GeneratedMSBuildEditorConfig.editorconfig
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.GlobalUsings.g.cs
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.assets.cache
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.csproj.AssemblyReference.cache
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.csproj.CopyComplete
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.csproj.CoreCompileInputs.cache
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.csproj.FileListAbsolute.txt
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.dll
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.pdb
  src/Generic/GenericTools/obj/Debug/net6.0/GenericTools.sourcelink.json
  src/Generic/GenericTools/obj/Debug/net6.0/ref/GenericTools.dll
  src/Generic/GenericTools/obj/Debug/net6.0/refint/GenericTools.dll
  src/Generic/GenericTools/obj/GenericTools.csproj.nuget.dgspec.json
  src/Generic/GenericTools/obj/GenericTools.csproj.nuget.g.props
  src/Generic/GenericTools/obj/GenericTools.csproj.nuget.g.targets
  src/Generic/GenericTools/obj/project.assets.json
  src/Generic/GenericTools/obj/project.nuget.cache
Due: none

Adding Reporting WebApi
  src/src.sln
Due: none

Add Report Service
  src/Services/Reporting/Data/IReportContext.cs
  src/Services/Reporting/Data/ReportContext.cs
  src/Services/Reporting/Endpoints/ReportingEndpoints.cs
  src/Services/Reporting/Endpoints/UpdatingEndPoints.cs
  src/Services/Reporting/Entities/Report.cs
  src/Services/Reporting/Program.cs
  src/Services/Reporting/Properties/launchSettings.json
  src/Services/Reporting/Reporting.csproj
  src/Services/Reporting/Reporting.http
  src/Services/Reporting/Repositories/ReportingRepository.cs
  src/Services/Reporting/appsettings.Development.json
  src/Services/Reporting/appsettings.json
  src/docker-Compose.override.yml
  src/docker-Compose.yml
Due: none

Update and run the report api with rabbitmq
  src/ApiGateWays/OcelotApiGw/ocelot.Development.json
  src/Services/Reporting/Data/ReportContext.cs
  src/Services/Reporting/Endpoints/ReportingEndpoints.cs
  src/Services/Reporting/Endpoints/UpdatingEndPoints.cs
  src/Services/Reporting/Entities/Report.cs
  src/Services/Reporting/Program.cs
  src/Services/Reporting/Reporting.csproj
  src/Services/Reporting/Repositories/ReportingRepository.cs
  src/Services/Reporting/appsettings.Development.json
  src/Services/Reporting/appsettings.json
  src/Services/Tasks/Task.Api/Controllers/TasksController.cs
  src/Services/Tasks/Task.Api/Program.cs
  src/Services/Tasks/Task.Api/Task.Api.csproj
  src/Services/Tasks/Task.Api/appsettings.json
  src/Services/Tasks/Task.Application/ApplicationServiceRegisteration.cs
  src/Services/Tasks/Task.Application/Features/Commands/ChangeTaskStatus/ChangeTaskStatusCommand.cs
  src/Services/Tasks/Task.Application/Features/Commands/ChangeTaskStatus/ChangeTaskStatusCommandHandler.cs
  src/Services/Tasks/Task.Application/Features/Commands/CreateTask/CreateTaskCommandHandler.cs
  src/Services/Tasks/Task.Application/Features/Queries/GetAllUserTasks/GetAllTasksQuery.cs
  src/Services/Tasks/Task.Application/Task.Application.csproj
  src/Services/Tasks/Task.Application/ViewModels/TaskHistoryViewModel.cs
  src/Services/Tasks/Task.Core/Entities/ETodoTaskStatus.cs
  src/Services/Tasks/Task.Core/Entities/TaskHistory.cs
  src/Services/Tasks/Task.Core/Entities/TodoTask.cs
  src/docker-Compose.override.yml
  src/docker-Compose.yml
Due: Pipelines/tasklist-task-api.yml, azure-pipelines.yml

Update gitignore
  .gitignore
Due: none

Update code base
  .gitignore
  src/ApiGateWays/OcelotApiGw/Dockerfile
  src/Services/Tasks/Task.Api/Program.cs
  src/Services/Users/User.Repository/InfrastructureServiceRegistration.cs
Due: Pipelines/tasklist-task-api.yml, azure-pipelines.yml

Update code base 2
  .dockerignore
  src/Generic/GenericContracts/EventBusMessages/ETodoTaskStatus.cs
  src/Generic/GenericContracts/EventBusMessages/EventBusConstants.cs
  src/Generic/GenericContracts/EventBusMessages/IntegrationBaseEvent.cs
  src/Generic/GenericContracts/EventBusMessages/TaskCreatedEvent.cs
  src/Generic/GenericContracts/EventBusMessages/TaskStatusUpdatedEvent.cs
  src/Services/Reporting/Dockerfile
  src/Services/Reporting/EventBusConsumer/TaskCreatedConsumer.cs
  src/Services/Reporting/EventBusConsumer/TaskUpdatedConsumer.cs
  src/Services/Reporting/Repositories/IReportRepository.cs
Due: none

fix issues identified by sonar
  src/ApiGateWays/OcelotApiGw/Program.cs
  src/Generic/GenericContracts/EventBusMessages/EventBusConstants.cs
  src/Generic/GenericTools/Reposiories/GenericRepository.cs
  src/Services/Reporting/Dockerfile
  src/Services/Reporting/EventBusConsumer/TaskCreatedConsumer.cs
  src/Services/Reporting/EventBusConsumer/TaskUpdatedConsumer.cs
  src/Services/Tasks/Task.Api/Dockerfile
  src/Services/Tasks/Task.Api/Program.cs
  src/Services/Tasks/Task.Application/Accessors/UserAccessor.cs
  src/Services/Tasks/Task.Application/Features/Commands/ChangeTaskStatus/ChangeTaskStatusCommand.cs
  src/Services/Tasks/Task.Application/Features/Commands/ChangeTaskStatus/ChangeTaskStatusCommandHandler.cs
  src/Services/Tasks/Task.Application/Features/Commands/CreateTask/CreateTaskCommandHandler.cs
  src/Services/Tasks/Task.Application/Features/Commands/EditTaskCommand/EditTaskCommandHandler.cs
  src/Services/Tasks/Task.Application/ViewModels/TaskViewModel.cs
  src/Services/Tasks/Task.Core/Entities/TodoTask.cs
  src/Services/Users/User.API/Controllers/UserController.cs
  src/Services/Users/User.API/Dockerfile
  src/Services/Users/User.API/Program.cs
  src/Services/Users/User.Application/ApplicationServiceRegisteration.cs
  src/Services/Users/User.Application/Features/Users/Commands/CreateUser/CreateUserCommandHandler.cs
  src/Services/Users/User.Application/Features/Users/Commands/DeleteUser/DeleteUserCommandHandler.cs
  src/Services/Users/User.Application/Features/Users/Commands/EditUser/EditUserCommandHandler.cs
  src/Services/Users/User.Application/PasswordHash/PasswordHasher.cs
  src/Services/Users/User.Core/Entities/AppUser.cs
Due: Pipelines/tasklist-task-api.yml, azure-pipelines.yml

update sonar text
  sonar.txt
Due: none

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  Pipelines/tasklist-task-api.yml: any of: src/Services/Tasks
  azure-pipelines.yml: any of: src/ApiGateWays/OcelotApiGw
